.custom_modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px 100vw rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.8);
}

.custom_modal .header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.custom_modal .body {
    padding: 20px;
}

.custom_modal .footer {
    background-color: #f3f3f3;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: right;
}

.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    cursor: pointer;
}
